[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/plugins/oh-my-zsh"]
	path = zsh/plugins/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh/plugins/zsh/plugins/bullet-train"]
	path = zsh/plugins/zsh/plugins/bullet-train
	url = https://github.com/caiogondim/bullet-train.zsh.git
[submodule "tmux/themes/maglev"]
	path = tmux/themes/maglev
	url = https://github.com/caiogondim/maglev.git
